.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.box {
  width: 400px;
  height: 300px;
  background-color: lightskyblue;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px 1px black;
  color: black;
  transition: all 0.5s ease;
}

.box h2 {
  max-width: 300px;
  text-align: center;
  font-family: roboto, sans-serif;
}

.box:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 3px 1px white;
  transform: rotate(360deg);
}
